*{
    font-family: sans-serif;
    
}

body{
    background-color: rgb(220, 220, 220);
}

.caja{
    margin: 0 auto;
    margin-top: 200px;
    padding: 5%;

    background-color: white;

    border-radius: 5px;
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.4);

    width: 50%;

    
}
.caja h1{
    text-align: center;
}
.crear_evento {
  border: 2px solid black;
  border-radius: 5px;
  padding: 4%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Cada fila de label + input */
.campo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

/* Etiquetas */
.campo label {
  width: 35%;
  text-align: right;
  font-weight: bold;
}

/* Inputs */
.campo input {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Botón de guardar */
.botonCrear {
  align-self: center;
  margin-top: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.botonCrear:hover {
  background-color: #217dbb;
}
.listar_evento{
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 5px;

    padding: 4%;
    text-align: center;


}

ul{
    list-style: none;
    padding: 0;   
}

.elementos-li{
  display: flex;                /* Coloca texto y botones en una línea */
  align-items: center;          /* Centra verticalmente */
  justify-content: space-between; /* Separa texto a la izquierda y botones a la derecha */
  background-color: #798185;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
    background-color: #798185;
}

.elementos-li button{
    background: none;
    border: none;
}