
body{
    width: 640px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}
h1{ 
text-align: center;
} 
h2 {
  font-family: "Montserrat", sans-serif;

  font-size: 1.5em;
  font-style: normal;
  text-decoration: overline ;
}
h3 {
    font-family: "Merriweather", serif;
    font-size: 1.25em; 
    font-style: normal;
    
  }
li{
    color: #343a409a;
    display: inline;
    padding: 5px;
    
}

a:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: #f8f9fa;
}

header{
    background-color:#343a40 ;
    color:#f8f9fa ;
    align-content: center;
    text-align: center;
}
footer{
    padding: 1px;
    background-color:#343a40 ;
    color:#f8f9fa ;
    text-align: center;
}
section{
    text-align: justify;
    background-color: rgb(243, 243, 243);
    border-radius: 1%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
}
figcaption{
    color: #343a409a;
    text-align:center;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

}
img{
    width: 600px;
}
img{
    width: 100%;
}
figure{
    max-width: 90%;
}