.Juego{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;

    border-radius: 5px;
    box-shadow: 0 0 4px rgb(0, 0, 0, 0.4);
    padding: 2%;

    max-width: 100%;
    max-width: 400px;
}

button, input{
    padding: 2%;
}

#lista_vj, #std_bd{
    border: 2px solid rgb(233, 233, 233);
    background-color: rgb(212, 212, 212);
    padding: 2%;
}