*{
    margin: 0;
}
#principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}
body{
    width: 1000px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: "serif";
    src: url(../../font/Merriweather/Merriweather-Black.ttf);
}
@font-face{
    font-family: "roboto";
    src: url(../../font/Roboto_Slab/static/RobotoSlab-Black.ttf);
}
@font-face{
    font-family: "sans-serif";
    src: url(../../font/Montserrat/static/Montserrat-Black.ttf)
}
h1{
    font-family: "roboto";
    
}

h2{
    font-family: sans-serif;
    
}
#alma{
    text-decoration: overline;
}
h3{
    font-family: serif;
}
header{
    background-color:#134678 ;
    color:#f8f9fa ;
    text-align: center;
    padding: 2px;
}
a:hover{
    text-decoration: underline;
}
abbr:hover{
    text-decoration: underline;
}
b{
    color: #2980b9;
}
abbr{
    text-decoration: none;
    font-weight: bold;
}
ul{
    
    text-align: center;
}
li{
    display: inline;
    padding: 5px;
    
}
a{
    text-decoration: none;
    text-justify: distribute;
    color: #fdfdfd;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
    
    }
    tr{
        height: 2em;
    }
    th{
        color: #d5dbdb;
        background-color:#2980b9;
    }
    tr{
        background-color:#2980b9;
    }
    td {
    
        background-color: #ecf0f1;
       
        }
    
    td:hover{
        background-color: #d5dbdb;
    }
    caption{
        text-transform: uppercase;
        color:#2980b9;
    }
    #princi{
        padding-left: 10px;
    }
    article{
        margin: 15px;
        padding: 10px;

        text-align: justify;
        border-style: solid;
        border-color: #134678;
        border-radius: 1%;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    
    
    p{
        color: #ecf0f1;
    }
    #cf{
        color: #ecf0f1;
    }
    #final{
        margin: 5px;
        background-color: #134678;
        color: #2980b9;
    }
    #sticky { 
        padding-top: 10px;
        background-color: #134678;
        text-align: center; 
        background-repeat:no-repeat;
        background-position-x:center;
        background-position-y:center;
        position: sticky; 
        top: 0px;
        width: auto; 
        height: 50px;
       }
       #casita{
        position: fixed;
        bottom: 10px;
        right: 10px;
       }
       i{
        display: block;
    }

