*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}
img{
    height: 150px;
    width: 150px;
    border-radius: 15px;
    margin: 5px;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
footer a{
    color: #3498db;
    text-decoration: none;
}
footer a:visited{
    color: #657043;
}