body{
    background-color: rgb(226, 224, 224);
    font-family: sans-serif;
    justify-items: center;
}
header{
    color: rgb(4, 118, 194);
    text-align: center;
}
form{
    background-color: white;    
    border-radius: 10px;
    width: 400px;
    padding: 5%;
    font-weight: bold;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.barra{
    width: 98%;
    padding: 7px;
    border-radius: 5px;

    border-style:groove;
    border-color: rgba(0, 0, 0, 0.24);
}


#boton{
    background-color: rgb(4, 118, 194);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border-style: none;
    font-size: 20px;
    padding: 10px;
}

#boton:hover{
    background-color: rgba(53, 139, 196, 0.705);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}